
<!--
<html>
<head>
	<script src="~/wwwroot/js/site.js"></script>
</head>

<body>
	<button onclick="GetDate()">Click Me</button>
	<p id="Demo">Date comes here</p>
</body>
</html>
-->

<!--
<!DOCTYPE html>
<html>
<body>
	<h1>JavaScript Arrays</h1>

	<p id="demo"></p>

	<script>
		const cars = ["Saab", "Volvo", "BMW"];
		document.getElementById("demo").innerHTML = cars;
	</script>

</body>
</html>
-->

<!--
<!DOCTYPE html>
<html>
<body>
	<h1>JavaScript if .. else</h1>

	<p>A time-based greeting:</p>

	<p id="demo"></p>

	<script>
		const hour = new Date().getHours();
		let greeting;

		if (hour < 18) {
		  greeting = "Good day";
		} else {
		  greeting = "Good evening";
		}

		document.getElementById("demo").innerHTML = greeting;
	</script>

</body>
</html>
-->

<!--
<!DOCTYPE html>
<html>
<body>
	<h1>JavaScript Maps</h1>
	<h2>The new Map Method()</h2>

	<p>Creating a map from an array:</p>

	<p id="demo"></p>

	<script>
		// Create a Map
		const fruits = new Map([
		  ["apples", 500],
		  ["bananas", 300],
		  ["oranges", 200]
		]);

		let numb = fruits.get("apples");
		document.getElementById("demo").innerHTML = "There are " + numb + " apples.";
	</script>

</body>
</html>
-->


<!DOCTYPE html>
<html>
	<body>
		<h1>JS Maps</h1>
		<h2>new map methods</h2>
		<p>create a map from an array</p>

		<p id="demo"></p>
		<script>
			const fruits = new Map([
				["apple",100],
				["banana",200],
				["orange",300]
			]);
			let numb = fruits.get("orange");
			document.getElementById("demo").innerHTML = "There are"+numb+"orange";
		</script>
	</body>
</html>